<div class="screen-temp">
    <h2 data-lg="@@tab-screen8-title" class="screen-temp__title"></h2>
    <p data-lg="@@tab-screen8-descr" class='screen-temp__descr'></p>
    <form id='contactForm' class='screen-temp__form'>
        <input required data-lg-placeholder='@@tab-screen8-name' class='screen-temp__input' type="text" name="name" placeholder='Name'>
        <input data-lg-placeholder='@@tab-screen8-email' class='screen-temp__input' type="email" name="email" placeholder='Email'>
        <input data-lg-placeholder='@@tab-screen8-phone' class='screen-temp__input' type="number" name="phone" placeholder='Phone'>
        <textarea data-lg-placeholder='@@tab-screen8-notes' class='screen-temp__textarea' name="notes" placeholder='Notes'></textarea>
    </form>
    <button data-lg="fix-button" form='contactForm' type="submit" class="screen-temp__button">APPLY</button>
</div>